<div class="contents row">
  <% @items.each do |item| %>
    <div class="content_post" style="background-image: url(<%= item.image %>);">
      <p><%= item.text %></p>
      <span class="name">
        <%= item.name %>
      </span>
      <li>
        <%= link_to '編集', edit_item_path(item.id), method: :get %>
      </li>
      <li>
        <%= link_to '詳細', item_path(item.id), method: :get %>
      </li>
    </div>
  <% end %>
</div>